body{
    box-sizing: border-box;
    background-color: #333333;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    height: 99vh;
    margin: 0px;
    flex-wrap: wrap;
}

.mini{
    background-color: black;
    cursor: none; 
}

#spotify{
    margin-top: 20px;
    height: 75vh;
    width: 75vh;
    background-image: url("./img/defaultCover.png");
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    box-shadow: black 2px 3px 50px ;
}

#spotify .mini{
    height: 40vh;
    width: 40vh;
}

@media (max-aspect-ratio: 1/1 ) {
    #spotify {
        height: 75vw;
        width: 75vw;
    }

    #spotify .mini{
        height: 40vw;
        width: 40vw;
    }
}

#paused{
    width: 100%;
    height: 100%;
}

button {
    appearance: none;
    background-color: #333333;
    border: 2px white solid;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    margin: 10px;
    height: 30px;
    width: 30px;
    font-size: 12px;
}

#playPause{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-size: 20px;
}

#volumeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.slider {
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    background: #CC5979;
    outline: none;
    border-radius: 4px;
    border: white solid 2px;
    cursor: pointer;
}

.device .mini {
    cursor: none;
}

#volumeBox .slider{
    width: 65%;
    height: 8px;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #CC5979;
    border: 2px white solid;
    outline: none;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #CC5979;
    border: 2px white solid;
    outline: none;
}

#infoBox *{
    text-align: center;
}

#devicelist{
    display: flex;
    justify-content: center;
}

.device{
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    margin-top: 30px;
}

.device p{
    margin: 8px;
}

.device .slider{
    -webkit-appearance: slider-vertical;
    writing-mode: bt-lr;
    width: 8px;
    height: 40vh;
}

.rotate{
    transform: rotate(-90deg);
}
